In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('data/Online Retail.xlsx')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [25]:
len(df['StockCode'].unique())

4070

In [28]:
df.loc[:,['StockCode','Description']]

       StockCode                          Description
0         85123A   WHITE HANGING HEART T-LIGHT HOLDER
1          71053                  WHITE METAL LANTERN
2         84406B       CREAM CUPID HEARTS COAT HANGER
3         84029G  KNITTED UNION FLAG HOT WATER BOTTLE
4         84029E       RED WOOLLY HOTTIE WHITE HEART.
...          ...                                  ...
541904     22613          PACK OF 20 SPACEBOY NAPKINS
541905     22899         CHILDREN'S APRON DOLLY GIRL
541906     23254        CHILDRENS CUTLERY DOLLY GIRL
541907     23255      CHILDRENS CUTLERY CIRCUS PARADE
541908     22138        BAKING SET 9 PIECE RETROSPOT

[541909 rows x 2 columns]

In [32]:
len(df['InvoiceNo'].unique())

25900

In [33]:
len(df['InvoiceDate'].unique())

23260

In [26]:
len(df['Description'].unique())

4224

In [21]:
a = df.loc[:, ['CustomerID', 'Country']]
a

        CustomerID         Country
0          17850.0  United Kingdom
1          17850.0  United Kingdom
2          17850.0  United Kingdom
3          17850.0  United Kingdom
4          17850.0  United Kingdom
...            ...             ...
541904     12680.0          France
541905     12680.0          France
541906     12680.0          France
541907     12680.0          France
541908     12680.0          France

[541909 rows x 2 columns]